
.container {
    max-width: 470px;
    text-align: center;
    color: var(--color_text);
    padding: 40px 60px 50px;
}

@media screen and (max-width: 768px) {
    .container {
        width: initial;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 45px 30px;
    }
}


.logo {
    width: 54%;
    min-width: 200px;
}

.heading {
    color: var(--color_primary);
    margin: 0px;
    margin-bottom: 4px;
}

.caption {
    font-weight: 400;
    margin: 0px;
}