.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #151915;
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #72b21f;
    border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a0ff3b;
}
