.gradientAnimation {
    background: linear-gradient(-45deg, #4a7a13, #5a5d56, #6ba828, #179a7a);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
