.subHeading {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.paraSection {
    margin-bottom: 2em;
}

.prizesSection,
.rulesSection {
    background-color: var(--background-secondary);
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
    position: relative;
}

.rulesSectionLight {
    background-color: var(--color-white);
}

.container {
    color: var(--color_text);
    padding: 30px 30px 120px 30px;
    overflow-y: auto;
}

.container > div {
    margin-bottom: 24px;
}

.topRow {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 350px));
    grid-template-rows: 140px;
}

.para {
    padding-bottom: 10px;
    color: var(--color_text);
    font-size: 0.95em;
}

.text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color_primary);
    max-width: calc(100% - 24px);
}

@media screen and (max-width: 500px) {
    .text {
        max-width: calc(100% - 22px);
    }
}

.referralPara {
    padding-bottom: 10px;
    color: var(--color_text);
    font-size: 0.95em;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .referralPara {
        gap: 0px;
    }
}

.referralLinkContainer {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .mainHeading {
        font-size: 25px;
    }
}

.icon {
    color: var(--color_primary);
    cursor: pointer;
    margin-left: 8px;
}

.tweetContainer {
    max-width: 130px;
    min-width: 130px;
    padding: 0.7rem 3rem;
    background: var(--color_primary);
    border-radius: 5px 0px 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

@media screen and (max-width: 1060px) {
    .tweetContainer {
        padding: 0.7rem 0.8rem;
    }
}

@media screen and (max-width: 845px) {
    .tweetContainer {
        margin-top: 10px;
        position: static;
        border-radius: 5px;
        padding: 0.7rem 3rem;
    }
}

.tweet {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tweet p {
    color: #fff;
    font-family: "Poppins";
    font-weight: 600;
}

.tweetIcon {
    color: #fff;
    cursor: pointer;
    margin-left: 8px;
}
