.container {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-radius: 10px;
    border-spacing: 0px;
    overflow: hidden;
    border: 1px solid var(--color_primary);
    font-size: 16px;
    color: var(--color_grey);
}

@media screen and (max-width: 768px) {
    .table {
        font-size: 14px;
    }
}

.specificCell {
    margin-left: 13%;
}

.tableRow {
    height: 50px;
}

.tableRow:nth-child(even) {
    background-color: #63cce011;
}

.tableData {
    padding: 8px 24px;
    height: inherit;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 500px) {
    .tableData {
        padding: 8px 12px;
    }
}

.header {
    background-color: var(--color_primary);
    color: var(--color_white);
    font-weight: 700;
}

.header .heading {
    cursor: pointer;
    height: 50px;
}

.header .heading .transitionDelay {
    transition-duration: 0.3s;
}

.header .heading .rotate {
    transform: rotate(-180deg);
}

.footer {
    background-color: var(--color_primary);
    color: var(--color_white);
    height: 36px;
}

.footer .onlyMobile {
    display: none;
}

@media screen and (max-width: 500px) {
    .footer .onlyMobile {
        display: block;
    }

    .footer .onlyDesktop {
        display: none;
    }
}

.searchBox {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

.searchBox input {
    padding: 2px 4px;
    border-radius: 4px;
    border: none;
    outline: none;
    width: 100px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    box-sizing: border-box;
    height: inherit;
    width: 100%;
    min-width: 100%;
    font-size: 14px;
}

.controls .pageChangeArrow {
    cursor: pointer;
}

.addressCol {
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: 100%;
    width: 100%;
}

.addressText {
    position: relative;
    display: none;
    font-family: monospace;
}

@media screen and (min-width: 1200px) {
    .addressText.onlyExtraLargeScreen {
        display: inline-block;
    }
}

@media screen and (max-width: 1200px) {
    .addressText.onlyExtraLargeScreen {
        display: none;
    }

    .addressText.onlyLargeScreen {
        display: inline-block;
    }
}

@media screen and (max-width: 992px) {
    .addressText.onlyLargeScreen {
        display: none;
    }

    .addressText.onlyTablet {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    .addressText.onlyTablet {
        display: none;
    }

    .addressText.onlyMobile {
        display: inline-block;
    }
}

.addressText .tooltip {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color_primary);
    color: var(--color_white);
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 6px;
}

.addressText:hover .tooltip {
    display: inline-block;
}

.arbiscanIcon {
    cursor: pointer;
}

.emptyTable {
    background-color: var(--background_secondary);
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color_primary);
}

.emptyTable .disclaimer {
    font-size: 20px;
}

.emptyTable .message {
    margin: 12px 0px;
    color: var(--color_grey);
}

.emptyTable .button {
    min-width: initial;
    min-height: initial;
    padding: 10px 30px;
}

@media screen and (max-width: 500px) {
    .mainHeading {
        font-size: 25px;
    }
}
