.backdrop {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    height: 100vh;
    background-color: #00000099;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    backdrop-filter: blur(3px);
    animation: backdrop 0.1s ease-in-out 1 forwards;
}

.container {
    min-height: 200px;
    color: var(--color_white);
    background-color: var(--new-background_secondary);
    box-shadow: 20px 30px 25px rgb(0 0 0 / 15%);
    border-radius: 20px;
    padding: 35px 50px;
    position: relative;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
    animation: modalContainer 0.1s ease-in-out 1 forwards;
}

@media (max-width: 768px) {
    .container {
        min-width: 100px;
        width: 80%;
        padding: 20px;
    }
}

.container_light {
    background-color: var(--new-background_dark);
    color: var(--color_black);
    border: 1px solid var(--new-border_light);
}

@keyframes backdrop {
    0% {
        backdrop-filter: blur(0px);
        opacity: 0;
    }
    100% {
        backdrop-filter: blur(3px);
        opacity: 1;
    }
}

@keyframes modalContainer {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
