.container {
    max-width: 700px;
}

.heading {
    font-size: 28px;
}

.description {
    padding: 8px 0px;
}

.terms {
    color: var(--color_grey);
    max-height: 50dvh;
    overflow-y: auto;
    padding: 6px;
    background-color: var(--background_primary);
}

.terms li {
    padding: 2px 0px;
}

.checkbox {
    margin-top: 30px;
    color: var(--color_text);
    margin-bottom: 16px;
}

.checkbox label {
    margin-left: 8px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .buttonsContainer button {
        min-width: 48%;
    }
}

.cancelButton {
    background-color: transparent;
    border: 1px solid var(--new-button-primary);
    color: var(--new-button-primary);
}

.loader {
    animation: spin infinite 1s;
}

.button {
    width: 100%;
    margin-top: 16px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
