.modal {
    border-radius: 8px;
    padding: 16px;
}

.container {
    width: 540px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.cancelButton {
    background: var(--color_grey);
}

@media screen and (max-width: 500px) {
    .cancelButton {
        min-width: 100px;
    }
}

@media screen and (max-width: 500px) {
    .continueButton {
        min-width: 100px;
    }
}

.buttonContainer {
    margin-top: 16px;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .buttonContainer {
        gap: 8px;
    }
}
