.container {
    overflow: hidden;
    transition: all 0.2s ease-in;
    padding-left: 6px;
    padding-right: 20px;
    padding-top: 0;
}

.open {
    max-height: 400px; /* Set a sufficiently large value */
    padding-bottom: 10px;
}

.closed {
    max-height: 0;
    padding-bottom: 0px;
}

.row {
    display: grid;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    grid-template-columns: max-content 1fr max-content;
}

.loadingBarContainer {
    height: 4px;
    border-radius: 360px;
    background: var(--background_light);
    margin-top: 20px;
    overflow: hidden;
}

.loadingBarContainer div {
    height: 100%;
    width: 100%;
    border-radius: 360px;
    background: var(--color_primary);
}

.loadingBarAnimated {
    animation: loadingBarAnimation 2s linear infinite;
}

@keyframes loadingBarAnimation {
    0% {
        width: 20%;
        transform: translateX(-100%);
    }
    50% {
        width: 50%;
        transform: translateX(25%);
    }
    100% {
        width: 20%;
        transform: translateX(500%);
    }
}

.stepName {
    font-weight: 600;
}

.icon {
    width: 24px;
    height: 24px;
}

.retry {
    color: var(--new-color_secondary);
    cursor: pointer;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
